.threads-col{
  max-height: 100vh;
  overflow-y:scroll;
}
.chat-user-avatar{
  max-width: 32px;
}
.chat-message{
  margin-bottom: 0;
}
.chat-hr{
  margin: 0.5rem auto;
}
.users-fieldset{
  max-height: 300px;
  overflow-y: scroll;
}
.messages-container{
  max-height: 725px;
  overflow-y: scroll;
}
.chat-menu-container{
  position: absolute;
  right: 0;
  top: 58px;
  width: 50%;
  z-index: 10;
}
.threads-top-chat{
  max-height: 400px;
  overflow-y: scroll;
}
.chat-widget {
  bottom: 10px;
  max-height: 50%;
  overflow-y: scroll;
  position: fixed;
  right: 10%;
  width: 30%;
}
.chat-messages-container{
  overflow-y: scroll;
}
.chat-widget-container::-webkit-scrollbar{
  display: none;
}
.chat-container__message_preview{
  word-break: break-all;
}
