.circle-header{
  padding: 0;
  position: relative;
}
.circle-header__info{
  bottom: 10%;
  left: 5%;
  position: absolute;
}
.circles-header__cover-img{
  max-height: 350px;
}
.circle-menu__requests-count{
  font-size: 0.7em;
  margin-left: 5%;
}
.circles-invite__ul-autocomplete{
  background-color: $white-bis;
  border: 1px solid $grey-middle;
  box-shadow: 0 0 5px $grey-lighter;
  list-style: none;
  max-height: 350px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.circles-invite__ul-autocomplete{
  border-bottom: 1px solid $grey-middle;
}
