.media-editor {
  position: relative;
  &__gallery-playback {
    background-color: transparent;
    display: flex;
    height: 430px;
  }
  &__gallery {
    background-color: transparent;
    height: 100%;
    flex: 1;
  }
  &__playback {
    background-color: transparent;
    height: 100%;
    flex: 0;
    width: auto;
  }
  &__timeline {
    background-color: transparent;
    //height: 475px;
  }
  &__footer {
    background-color: transparent;
    height: 100%;
    width: 100%;
  }
}