.notifications-container{
  max-height: 35rem;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 0 1rem;
  position: absolute;
  top: 58px;
  width: 80%;
  z-index: 10;
}

.notification-loading{
  margin: 0 auto;
}

.notification-container__text{
  color: $text;
  font-size: 0.85rem;
}

.notification-container__notification{
  border-bottom: 1px solid $border;
  padding-top: 1rem;
  padding-bottom: 0.15rem;
}

.notification-container__new-notification{
  background-color: $white-bis;
}
.notification-container__link{
  cursor: pointer;
}
