.contenteditable{
  fnt($text, 1rem, $weight-normal, left);
  background-color: $white-bis;
  border-radius: 0;
  border: 1px solid $border;
  box-shadow: inset 0 1px 2px rgba($black-ter, 0.1);
  font-family: inherit;
  margin: 0 0 1rem;
  min-height: 5rem;
  padding: 0.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
.post-hashtag{
  background: $white-ter;
  border-radius: $radius-small;
  line-height: 20px;
  padding: 2px 6px;
  white-space: pre-wrap;
}
.post-container__avatar-column{
  padding-right: 0;
}
.post-preview{
  max-width: 60%;
  margin: 0 auto;
}