.profile-post__desc{
  display: inline-block;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.fa-google_plus:before {
  content: "\f0d5";
}
.user-feed{
  max-height: 800px;
  overflow-y: scroll;
}