.hero.is-primary {
  background-color: $primary !important;
}
.site-content {
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  .dropdown {
    display: none;
  }

  &:hover {
    .dropdown{
      display: block;
    }
  }
}
.main {
  display: flex;
}