.comment-container__sub-comments{
  margin-left: 5rem;
}
.sub-comment-container {
  border-bottom: 1px solid $grey-lighter;
  padding: 0.5rem 0;
}
.comments-reply__form {
  margin: 0.5rem 0;
  width: 100%;
  float: right;
}