/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
laravel-echo-server.json
/_ide_helper.php
/Envoy.blade.php
/Caddyfile
/apache-config.conf
.idea
public/build/
/docs/
/resources/assets/bower_components/
/public/img/
/public/images/
/public/docs/
/public/tmp/
/public/js/
/public/fonts/
!/public/fonts/media_editor
!.idea/inspectionProfiles
/.phpstorm.meta.php
/_ide_helper_models.php
/public/css/
/storage/uploads/user/
tests/_output/*
/storage/uploads/users/
/storage/uploads/tmp/
tests/Browser/screenshots
public/mix-manifest.json
public/mix.js
/npm-debug.log
/tests/e2e/videos/
/tests/e2e/screenshots/
/tests/unit/coverage
/tests/unit/cache

/storage/oauth-private.key
/storage/oauth-public.key
