.me-drag-layer {
  cursor move
  height 100%
  left 0
  pointer-events none
  position fixed
  top 0
  width 100%
  z-index 100
  &__preview {
    background-color $grey-middle
    border 1px solid $turquoise
    padding 3px
    position absolute
  }
}

