.me-footer {
  align-items center
  background-color $white
  border-radius 3px
  border 1px solid $border
  display flex
  flex-direction row
  height 36px
  padding 0 26px
  width 100%
  &__status {
    fl-left()
    height 100%
    width 150px
  }
  &__scrollbar {
    fl-left()
    flex 1
    height 100%
    overflow hidden
  }
  &__zoom {
    fl-left()
    height 100%
  }
}
