.me-gallery {
  background-color: $white;
  border-radius: 3px;
  border: 1px solid $border;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  &__btn {
    fnt($grey-light, 11px, $weight-semibold, center);
    fl-center();
    background: center center no-repeat;
    border-left: 1px solid $border;
    cursor: pointer;
    height: 100%;
    transition: all .3s;
    width: 68px;
    &--save {
      &:hover {
        color: $info;
        &[disabled] {
          color: $grey-lighter;
        }
      }
    }
    &--upload {
      &:hover {
        color: $green;
        &[disabled] {
          color: $grey-lighter;
        }
      }
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: .5;
    }
    &--disabled {
      cursor: auto;
      // opacity: .5;
    }
    &--set {
      margin-right: -22px;
    }
  }
  &__control-bar {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.25);
    text-align: right;
  }
  &__button {
    fnt($text-invert, 12px, $weight-semibold, center);
    fl-center();
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    margin-bottom: 0;
    margin-left: 7px;
    padding: 0 12px;
    transition: all .3s;
    &--last {
      margin-right: 7px;
    }
    &--disabled, &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
    &--save {
      background-color: $info;
      border: 1px solid $info;
      &:hover {
        opacity: .5;
        color: $text-invert;
      }
    }
    &--upload {
      background-color: $green;
      border: 1px solid $green;
      &:hover {
        opacity: .5;
      }
    }
  }
  &__list {
    overflow-y: auto;
    padding: 0;
    flex: 1 1 auto;
    display: flex;
  }
  &__select {
    float: left;
    width: 100px;
  }
}

.me-gallery-control-bar {
  border-bottom: 1px solid $border;
  height: 60px;
  width: 100%;
  &__row {
    fl-between();
    height: 24px;
    width: 100%;
    &--p {
      height: 36px;
      padding: 0 24px;
    }
  }
}
.me-gallery-control-bar-menu {
  fl-between();
  height: 24px;
  width: 100%;
  &__left {
    fl-left();
    height: 100%;
  }
  &__right {
    fl-right();
    height: 100%;
  }
  &__title {
    fnt($text, 14px, $weight-semibold, left);
    margin-right: 12px;
    white-space: nowrap;
  }
  &__button {
    fnt($text-invert, 12px, $weight-semibold, center);
    fl-center();
    border-radius: 3px;
    cursor: pointer;
    height: 22px;
    padding: 0 12px;
    transition: all .2s;
    outline: none;
    &--last {
      margin-right: 7px;
    }
    &--on-right {
      margin-left: 7px;
    }
    &--on-left {
      margin-right: 7px;
    }
    &--disabled, &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
    &--upload {
      background-color: $green;
      border: none;
      &:hover {
        opacity: .5;
      }
    }
    &--add-text {
      background-color: $blue;
      border: none;
      &:hover {
        opacity: .5;
      }
    }
    &--sqr {
      background-color: $white;
      border: 1px solid $border;
      width: 22px;
    }
  }
}
