.me-project-status {
  fnt($primary, 12px, $weight-normal, center);
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 0;
  &__text {
    font-size: 12px;
  }
}
