$me-timeline-layer-item-border-width = 2;
$me-timeline-layer-item-padding = 2;
$me-timeline-layer-item-frame-width = $me-timeline-layer-item-border-width + $me-timeline-layer-item-padding;
$me-timeline-layer-item-thumb-height = 50;
$me-timeline-layer-item-waveform-padding-top = $me-timeline-layer-item-padding * 2 + $me-timeline-layer-item-border-width;
$me-timeline-layer-item-height = ($me-timeline-layer-item-padding + $me-timeline-layer-item-border-width) * 2 + $me-timeline-layer-item-thumb-height;
$me-timeline-layer-bottom-border-width = 1;
$me-timeline-layer-height = $me-timeline-layer-item-height + $me-timeline-layer-bottom-border-width;
$me-timeline-layer-height--high = $me-timeline-layer-item-height * 2 + $me-timeline-layer-bottom-border-width;
$me-timeline-ruler-cursor-width = 1; // 2;
$me-timeline-cursor-split-handler-snap-size = 5;
$me-timeline-split-cursor = col-resize;
$me-timeline-move-cursor = move;