/////////////////////////////////////////////////////
///// Files to store variables for front styles /////
/////////////////////////////////////////////////////

// Admin
$action-form-buttons-width = 22;
