@import './bulma-theme';

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.remember-box-form__checkbox,
.accept-box-form__checkbox,
.password-visibility-box-form__checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 18px;
  height: 18px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.remember-box-form__checkbox + label,
.accept-box-form__checkbox+ label,
.password-visibility-box-form__checkbox+ label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.remember-box-form__checkbox:not(checked),
.accept-box-form__checkbox:not(checked),
.password-visibility-box-form__checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.remember-box-form__checkbox:not(checked) + label,
.accept-box-form__checkbox:not(checked) + label,
.password-visibility-box-form__checkbox:not(chekced) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 32px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.remember-box-form__checkbox:not(checked) + label:before,
.accept-box-form__checkbox:not(checked) + label:before,
.password-visibility-box-form__checkbox:not(chekced) + label:before {
  content: '';
  position: absolute;
  top: 2px; // <--------------------
  left: 0;
  width: 24px;
  height: 16px;
  border-radius: 3px;
  background: $white-shadow;
  box-shadow: inset 0 2px 5px rgba($grey-darker,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.remember-box-form__checkbox:not(checked) + label:after,
.accept-box-form__checkbox:not(checked) + label:after,
.password-visibility-box-form__checkbox:not(chekced) + label:after {
  content: '';
  position: absolute;
  top: 4px; //< -----------------
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: $white;
  box-shadow: 0 2px 5px rgba($grey-darker,.2);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.remember-box-form__checkbox:checked + label:before {
  background: rgba($lime, .6);
}
.accept-box-form__checkbox:checked + label:before,
.password-visibility-box-form__checkbox:checked + label:before {
  background: rgba($purple, .6);
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.remember-box-form__checkbox:checked + label:after,
.accept-box-form__checkbox:checked + label:after,
.password-visibility-box-form__checkbox:checked + label:after {
  left: 10px;
}
/* Показываем получение фокуса. */
.remember-box-form__checkbox:focus + label:before,
.accept-box-form__checkbox:focus + label:before,
.password-visibility-box-form__checkbox:checked + label:before {
  //box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}