// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,900);
@import "front/components/normalize.css";
@import "front/components/bulma-theme.styl";
@import "front/components/modificators";
@import "front/index";
@import "front/components/fonts";
@import "../../../node_modules/video.js/dist/video-js.css";
@import "front/components/vue-video-player/custom-theme";

